html,
body {
  width: 100%;
  height: 155%;
}
.big-box {
  width: 100%;
  position: fixed;
  z-index: 1;
}
.onepart {
  height: 41px;
  background-color: #252b3a;
}
.onepart-one {
  float: left;
}
.onepart-one img {
  margin-left: 27px;
}
.onepart-two-left {
  float: right;
}
.onepart-two button {
  float: left;
  width: 50px;
  height: 41px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  /* margin-right: 45px; */
  background-color: #464b57;
  color: #fff;
  font-size: 20px;
}
.onepart-two-left input {
  float: left;
  width: 94px;
  border: none;
  height: 41px;
  background-color: #464b57;
  color: #ffffff;
  padding-left: 19px;
  font-size: 15px;
  font-weight: 600;
}
.onepart-two-left input:hover {
  transform: top 0.3s;
}
.onepart-two-right {
  width: 522px;
  height: 41px;
}
.onepart-two-right li {
  float: left;
  font-size: 14px;
  /* font-weight: 650; */
  height: 41px;
  margin-right: -40px;
  line-height: 50px;
  width: 104px;
  display: flex;
}
.onepart-two-left a {
  float: right;
  width: 96px;
  color: #ffffff;
  margin-left: 15px;
  line-height: 41px;
}
.onepart-two-left a:hover {
  color: #f66f6a;
}
.onepart-two-left p {
  color: #ffffff;
  margin-left: 23px;
}

.onepart-two-left span {
  margin-left: 40px;
  background-color: #f66f6a;
  width: 115px;
  color: #ffffff;
}
.one span {
  color: #f66f6a;
}
.one:hover {
  box-shadow: 10px 10px 3px #e0e5eb;
  transition: all 1s;
  color: #f66f6a;
}
.name {
  background-color: #f66f6a;
  /* width: 115px; */
}
.onepart-two-left h2 {
  color: #ffffff;
  line-height: 41px;
}
.onepart-two-left img {
  margin-bottom: -4px;
  margin-left: 5px;
}
.one {
  float: left;
  width: 350px;
  height: 192px;
  margin-right: 40px;
  margin-top: 40px;
  /* border: 1px solid #191d28; */
  background-color: #ffffff;
  margin-bottom: 20px;
}
.one h5 {
  margin-top: 57px;
  margin-left: 50px;
  font-weight: 600;
  font-size: 24px;
  color: #252b3a;
  line-height: 1;
  margin-left: 46px;
  border-bottom: none;
  position: relative;
  display: inline-block;
  width: auto;
}
.one p {
  margin-top: 16px;
  margin-left: 50px;
  background-repeat: no-repeat;
  font-size: 15px;
}
.one img {
  float: right;
  width: 107px;
  margin-top: -24px;
  height: 95px;
}
.stand {
  width: 73px;
  height: 41px;
  margin-left: -24px;
  /* text-align: center; */
}
.ch-z {
  position: absolute;
  width: 13px;
  height: 12px;
  background-image: url(../img/jiantou.png);
  background-position: -21px -19px;
  background-size: 11px;
  margin-left: 40px;
  margin-top: -29px;
}

.twopart {
  width: 100%;
  height: 71px;
  background-color: #252b3a;
  border-top: 1px solid #3b414e;
  position: fixed;
  z-index: 1;
}
/* .twopart-box ul>li>a span{
  color: #fff;
} */
.twopart-box-left {
  display: inline-block;
  /* background-color: blue; */
  margin-top: 27px;
}
.twopart-box-left h2 {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  margin-left: 23px;
  line-height: 23px;
}
.twopart-box-left ul {
  float: right;
  margin-left: 40px;
}
.twopart-box-left li {
  float: left;
  color: #ffffff;
  width: 64px;
}
.twopart-box-left a {
  /* margin-left: 29px; */
  color: #ffffff;
  line-height: 21px;
}
.twopart-box-right {
  float: right;
  margin-top: 27px;
}
.twopart-box-right a {
  color: #a0a2a8;
}
.twopart-box-right span {
  color: #a0a2a8;
  margin-right: 30px;
}
.twopart-box-right .bo {
  display: inline-block;
  width: 85px;
  height: 16px;
  background-image: url(../svg/nav.svg);
  background-position: 67px -69px;
  background-size: 271px;
}
.twopart-box-right .wen {
  display: inline-block;
  width: 17px;
  height: 16px;
  background-image: url(../svg/nav.svg);
  background-position: 0px -86px;
  background-size: 271px;
}
.pc{
  width: 100%;
}
.pc img {
  width: 100%;
  /* height: 50%; */
}
.threepart-box {
  width: 70%;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  border-bottom: 1px solid #f1f1f2;
  float: left;
}
.threepart-box .bo {
  float: right;
}
.threepart-center {
  width: 70%;
  height: 175px;
  /* background-color: red; */
  /* margin-top: 47px; */
  border-bottom: 1px solid #ddd;
}
.threepart-center:first-child {
  margin-top: 60px;
}
.threepart-center p {
  width: 685px;
  font-size: 14px;
}
.threepart-center .one {
  position: absolute;
  left: 709px;
  top: 52px;
  display: inline-block;
  width: 131px;
  height: 72px;
  background-image: url(../img/1578483249_7322_4874.txt);
  background-position: -359px -19px;
  background-size: 179px;
}
.threepart-center .two {
  position: absolute;
  left: 709px;
  top: 8px;
  display: inline-block;
  width: 131px;
  height: 59px;
  background-image: url(../img/1578549480106674_2719.txt);
  background-position: -258px -9px;
  background-size: 129px;
}
.threepart-center .three {
  position: absolute;
  left: 709px;
  top: 8px;
  display: inline-block;
  width: 131px;
  height: 59px;
  background-image: url(../img/1578482751_5082_2929.txt);
  background-position: -258px -9px;
  background-size: 129px;
}
.threepart-center .four {
  position: absolute;
  left: 709px;
  top: 8px;
  display: inline-block;
  width: 131px;
  height: 131px;
  background-image: url(../img/1578448093426936.txt);
  background-position: -259px 1px;
  background-size: 129px;
}
.threepart-center .five {
  position: absolute;
  left: 709px;
  top: 8px;
  display: inline-block;
  width: 131px;
  height: 131px;
  background-image: url(../img/1578448093426936.txt);
  background-position: -259px 1px;
  background-size: 129px;
}
.threepart-center .ear {
  position: absolute;
  left: 0;
  top: 85px;
  display: inline-block;
  width: 20px;
  height: 25px;
  background-image: url(../img/1517189834_9438.png);
  background-position: -264px -21px;
  background-size: 22px;
}
.threepart-yes {
      margin: 26px;
}
.threepart-right {
  width: 25%;
  height: 173px;
  /* background-color: red; */
  float: right;
  background-color:#fafafa;
  margin-left: 17px;
}
.threepart-right-title {
  width: 290px;
  height: 50px;

}
.threepart-right-title h2 {
  font-size: 18px;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  margin-left: 20px;
}
.threepart-right-lun {
  width: 290px;
  height: 50px;

}
.threepart-right-lun span {
  position: absolute;
  line-height: 110px;
  margin-left: 106px;
}
.threepart-right-lun .biao {
  position: absolute;
  left: 933px;
  top: 84px;
  display: inline-block;
  width: 39px;
  height: 39px;
  background-image: url(../img/-icon1220png.png);
  background-position: -117px 0px;
  background-size: 39px;
}





.fourpart-box {
  width: 70%;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  border-bottom: 1px solid #f1f1f2;
}
.fourpart-box .bo {
  float: right;
}
.fourpart-center {
  width: 70%;
  height: 175px;
  /* background-color: red; */
  margin-top: 47px;
  border-bottom: 1px solid #ddd;
}
.fourpart-center p {
  /* width: 685px; */
  font-size: 14px;
}







.sevenpart {
  background-color: #212634;
  height: 90px;
}
.sevenpart-top {
  height: 260px;
  position: relative;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.one-box {
position: relative;
width: 100%;
height: 90px;
}
.one-box  li i {
position: absolute;
/* left: 67px; */
top: 50%;
width: 40px;
height: 40px;
margin-top: -20px;
background-size: 100% 100%;
}
.one-box .zhong{
background-image: url(../svg/footer-feedback.svg);
}
.one-box .zhong-a {
background-image: url(../svg/footer-unsub.svg);
}
.one-box .zhong-b {
background-image: url(../svg/footer-record.svg);
}
.one-box .zhong-c {
background-image: url(../svg/footer-feedback.svg);
}
.one-box .zhong-d {
background-image: url(../svg/footer-vip.svg);
}
.one-box ul {
float: left;
color: #ffffff;
margin: 28px 67px;
}
.one-box li {
float: left;
width: 209px;
}
.one-box li h2 {
font-size: 20px;
color: #fff;
margin-left: 50px;
}
.one-box li p {
font-size: 14px;
font-weight: normal;
color: #a3a5ac;
margin-top: 10px;
margin-left: 50px;

}
.eightpart {
  width: 100%;
  height: 324px;
  background: #252b3a;
}
.eightpart-left {
  float: left;
  width: 290px;
  margin-top: 25px;
  color: #ffffff;
  margin-bottom: 15px;
}
.eightpart-left-top {
  width: 110px;
  height: 60px;
  float: left;
}
.eightpart-left-top h2 {
  font-size: 20px;
}
.eightpart-left-top p {
  /* margin-top: 20px; */
  font-size: 20px;
  color: #fff;
}
.eightpart-left-top li {
  font-size: 14px;
  color: #ffffff;
  /* margin-top: 15px; */
}
.eightpart-left-bottom {
  width: 100%;
  height: 145px;
}
.eightpart-left-bottom li {
  font-size: 15px;
  margin-top: 15px;
}
.eightpart-left-bottom a {
  font-size: 14px;
  color: #bec0c4;
}
.zixun {
  margin-top: 15px;
}
.eightpart-right {
  float: right;
  margin-top: 25px;
  border-left:1px solid #454850;
}
.eightpart-right dl {
  float: left;
  padding-left: 83px;
  font-size: 14px;
  color: #bec0c4;
}
.eightpart-right dt {
  color: #fff;
  margin-bottom: 15px;
}
.eightpart-right dd {
  margin-top: 7px;
}
.ninepart {
  /* float: right; */
  width: 100%;
  height: 135px;
  border-top: 1px solid #454850;
  border-bottom: 1px solid #454850;
  background-color: #252b3a;
}
.ninepart-box {
  width: 1336px;
  /* height: 135px; */
}
.ninepart-box dl {
  float: left;
  margin-right: 45px;
  color: #ffffff;
}
.ninepart-box dt {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  margin-top: 25px;
}
.ninepart-box dd {
  font-size: 12px;
  color: #bec0c4;
  margin-top: 25px;
}
.tenpart {
  height: 65px;
  background-color: #252b3a;
}
.tenpart-box {
  margin-top: 15px;
  
}
.tenpart-box span {
  margin-right: 15px;
  color: #ffffff;
}
.tenpart-box a {
  margin-right: 5px;
  color: #ffffff;
}