.firstpart {
    /* width: 100%; */
    height: 50px;
    background-color: #252b3a;
    /* position: fixed; */
}
.firstpart-one {
    float: left;
}
.firstpart-one img {
    margin-left: 40px;
}
.firstpart-two-left {
    float: right;

}
.firstpart-two button {
    float: left;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    margin-right: 45px;
    background-color: #191d28;
}
.firstpart-two-left input {
    float: left;
    width: 250px;
    border: none;
    height: 50px;
    background-color: #191d28;
    color: #ffffff;
    padding-left: 19px;
    font-size: 15px;
    font-weight: 600;
}

.firstpart-two-left li {
    float: left;
    font-size: 15px;
    font-weight: 650;
    height: 48px;
    margin-right: -40px;
    line-height: 50px;
}
.firstpart-two-left a {
    float: right;
    width: 96px;
    color: #ffffff;
    /* margin: 0px 15px; */
    /* line-height: 50px; */
}
.firstpart-two-left a:hover {
    color: #f66f6a;
}
.firstpart-two-left p {
    color: #ffffff;
    margin-left: 45px;
}

.firstpart-two-left span {
    margin-left: 40px;
    background-color: #f66f6a;
    width: 115px;
    color: #ffffff;
}
.first span {
    color: #f66f6a;
}
.name {
    background-color: #f66f6a;
    width: 115px;
}
.firstpart-two-left li i {
    width: 50px;
    height: 50px;

}
.firstpart-two-left h2 {
    color: #ffffff;
}
.stand{
    width: 152px;
    height: 49px;
    background-color: #252b3a;
}
/* .topnav-search {
    display: none;
    position: absolute;
    top: 100%;
    left: -10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
} */

.twopart {
    /* width: 100%; */
    height: 75px;
    background-color: #252b3a;
    border-top: 1px solid #3b414e;
    /* position: fixed; */
}
.twopart-box {
    margin-top: 28px;
    margin-left: 40px;
}
.twopart-box li {
    float: left;
    color: #ffffff;
    font-size: 13px;
    font-weight: 650;
    margin-right: -30px;
}

.chinese:hover {
    height: 45px;
}
.chinese a {
    background-color: #252b3a;
    display: inline-block;
    padding: 15px;
    width: 154px;
    /* fifthpart-list-style-type: none; */
}
.English {
    /* fifthpart-list-style: none; */
    width: 250ox;
    height: 250px;
}
.threepart img{
    width: 100%;
}
.fourpart {
    background-color: #ffffff;
}
.fourpart-box {
    float: right;
    background-color: #ffffff;
    width: 100%;
    height: 62px;
}
.fourpart-box li {
    /* margin-top: 25px; */
    margin-left: 163px;
    float: left;
    font-size: 17px;
    /* background-image: url(); */
}
.new li {
    line-height: 65px;
}
.fifthpart {
    background-color: #f3f8ff;
}
.fifthpart-top p {
    float: left;
    /* width: 100%; */
    height: 25px;
    font-size: 20px;
    font-weight: 600;
    border-left: 5px solid #f66f6a;
    padding-left: 9px;
    margin-left: -584px;
    margin-top: 115px;
}
.fifthpart-list {
    float: left;
    /* width: 100%; */
    height: 25px;

}
.fifthpart-list-box li {
    float: left;
    width: 238px;
    margin-top: 45px;
    border: 1px solid #dddddd;
    width: 115px;
    height: 20px;
    padding: 6px 0;
    font-size: 14px;
    color: #252b3a;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    float: left;
}
.safety {
    margin-left: -30px;
}
.bd{
    background: rgba(246, 111, 106, 0.1);
    
}
.ad {
    color: #f66f6a;
}
.sixthpart {
    /* width: 100%; */
    height: 100%;
    background-color: #f3f8ff;
}
.first {
    float: left;
    width: 350px;
    height: 192px;
    margin-right: 40px;
    margin-top: 40px;
    /* border: 1px solid #191d28; */
    background-color: #ffffff;
    margin-bottom: 20px;
}
.first h5 {
    margin-top: 57px;
    margin-left: 50px;
    font-weight: 900;
    font-size: 23px;
    color: #252b3a;
    line-height: 1;
    margin-left: 46px;
    border-bottom: none;
    position: relative;
    display: inline-block;
    width: auto;
}
.first p {
    margin-top: 10px;
    margin-left: 50px;
    background-image: url(../img/picture1.png);
    background-repeat: no-repeat;
}
.sixthpart-box {
    width: 48px;
    border: 1px solid #dddddd;
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px;
    display: inline-block;
}

.one-box {
    float: left;
    color: #ffffff;
    margin: 28px 67px;
}
.one-box h2 {
    font-size: 20px;
}
.one-box p {
    font-size: 14px;
    font-weight: normal;
}
.eightpart {
    background-color: #212634;
    height: 90px;
}
.eightpart-top {
    /* width: 100%; */
    height: 260px;
    position: relative;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
.eightpart-midden {
    height: 320px;
    background-color: #252b3a;
}
.eightpart-midden-small h2 {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}
.eightpart-midden-small p {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
/* .eightpart-top li {
    float: left;
    color: #ffffff;
} */
/* .sixthpart-two {
    float: left;
    width: 350px;
    height: 192px;
    margin-right: 40px;
    margin-top: 40px;
    border: 1px solid #191d28;
}
.sixthpart-three {
    float: left;
    width: 350px;
    height: 192px;
    margin-right: 15px;
    margin-top: 40px;
    border: 1px solid #191d28;
}
.sixthpart-four {
    float: left;
    width: 350px;
    height: 192px;
    margin-right: 15px;
    margin-top: 40px;
    border: 1px solid #191d28;
}
.sixthpart-five {
    float: left;
    width: 350px;
    height: 192px;
    margin-right: 15px;
    margin-top: 40px;
    border: 1px solid #191d28;
}
.sixthpart-six {
    float: left;
    width: 350px;
    height: 192px;
    margin-right: 15px;
    margin-top: 40px;
    border: 1px solid #191d28;
}
.sixthpart-seven {
    float: left;
    width: 350px;
    height: 192px;
    margin-right: 15px;
    margin-top: 40px;
    border: 1px solid #191d28;
}
.sixthpart-eight {
    float: left;
    width: 350px;
    height: 192px;
    margin-right: 15px;
    margin-top: 40px;
    border: 1px solid #191d28;
} */

