.topnav {
    width: 100%;
    height: 50px;
    background-color: #252b3a;
}
.topnav-one {
    float: left;
}
.topnav-one img {
    margin-left: 40px;
}

.topnav-two-left input {
    float: left;
    width: 250px;
    border: none;
    height: 50px;
    background-color: #191d28;
    color: #ffffff;
    padding-left: 19px;
    font-size: 15px;
    font-weight: 600;
}
.topnav-two button {
    float: left;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    background-color: #191d28;
}
.topnav-two-left li {
    float: left;
    font-size: 15px;
    font-weight: 650;
    height: 48px;
    line-height: 50px;
}
.topnav-two-left a:hover {
    color: #f66f6a;
}
.topnav-two-left {
    float: right;
}
.topnav-two-left a {
    float: right;
    width: 96px;
    color: #ffffff;
    /* margin: 0px 15px; */
    /* line-height: 50px; */
}
.topnav-two-left p {
    color: #f66f6a;
}
.name {
    background-color: #f66f6a;
    width: 115px;
}
.topnav-two-left span {
    margin-left: 40px;
    background-color: #f66f6a;
    width: 115px;
    color: #ffffff;
}
.topnav-search {
    display: none;
    position: absolute;
    top: 100%;
    left: -10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
}
.topnav-two-left li i {
    width: 50px;
    height: 50px;

}

.searchnav {
    width: 100%;
    height: 75px;
    background-color: #252b3a;
    border-top: 1px solid #3b414e;
}
.searchnav-box {
    margin-top: 28px;
    margin-left: 40px;
}
.searchnav-box li {
    float: left;
    color: #ffffff;
    font-size: 13px;
    font-weight: 650;
}
.stand{
    width: 152px;
    height: 49px;
    background-color: #252b3a;
}
.chinese:hover {
    height: 45px;
}
.chinese a {
    background-color: #252b3a;
    display: inline-block;
    padding: 15px;
    width: 154px;
    list-style-type: none;
}
.English {
    list-style: none;
    width: 250ox;
    height: 250px;
}
.midden-box {
    float: right;
    background-color: #ffffff;
    width: 100%;
    height: 62px;
}
.midden-box li {
    margin-top: 25px;
    margin-left: 163px;
    float: left;
    font-size: 17px;
    /* background-image: url(); */
}
.fifthpart-top p {
    width: 100%;
    height: 32px;
    font-size: 20px;
    font-weight: 600;
    border-left: 5px solid #f66f6a;
}
/* .fifthpart {
    float: right;
} */