.big-box {
    width: 100%;
    position: fixed;
    z-index: 1;
}
.firstpart {
    height: 50px;
    background-color: #252b3a;
}
.firstpart-one {
    float: left;
}
.firstpart-one img {
    margin-left: 40px;
}
.firstpart-two-left {
    float: right;

}
.firstpart-two button {
    float: left;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    margin-right: 45px;
    background-color: #191d28;
}
.firstpart-two-left input {
    float: left;
    width: 250px;
    border: none;
    height: 50px;
    background-color: #191d28;
    color: #ffffff;
    padding-left: 19px;
    font-size: 15px;
    font-weight: 600;
}
.firstpart-two-left input:hover {
    transform: top 0.3s;
}
.firstpart-two-left li {
    float: left;
    font-size: 15px;
    font-weight: 650;
    height: 48px;
    margin-right: -40px;
    line-height: 50px;
}
.firstpart-two-left a {
    float: right;
    width: 96px;
    color: #ffffff;
    /* margin: 0px 15px; */
    /* line-height: 50px; */
}
.firstpart-two-left a:hover {
    color: #f66f6a;
}
.firstpart-two-left p {
    color: #ffffff;
    margin-left: 45px;
}

.firstpart-two-left span {
    margin-left: 40px;
    background-color: #f66f6a;
    width: 115px;
    color: #ffffff;
}
.first span {
    color: #f66f6a;
}
.first:hover {
    box-shadow: 10px 10px 3px #e0e5eb;
    transition: all 1s;
    color: #f66f6a;
}
.name {
    background-color: #f66f6a;
    width: 115px;
}
.firstpart-two-left li i {
    width: 50px;
    height: 50px;

}
.firstpart-two-left h2 {
    color: #ffffff;
}
.firstpart-two-left img {
    margin-bottom: -4px;
    margin-left: 5px;
}
.first {
    float: left;
    width: 350px;
    height: 192px;
    margin-right: 40px;
    margin-top: 40px;
    /* border: 1px solid #191d28; */
    background-color: #ffffff;
    margin-bottom: 20px;
}
.first h5 {
    margin-top: 57px;
    margin-left: 50px;
    font-weight: 600;
    font-size: 24px;
    color: #252b3a;
    line-height: 1;
    margin-left: 46px;
    border-bottom: none;
    position: relative;
    display: inline-block;
    width: auto;
}
.first p {
    margin-top: 16px;
    margin-left: 50px;
    /* background: url(../img/picture1.png); */
    /* background-position: center; */
    background-repeat: no-repeat;
    font-size: 15px;
}
.first img {
    float: right;
    width: 107px;
    margin-top: -24px;
    height: 95px;
}
.stand{
    width: 152px;
    height: 49px;
    background-color: #252b3a;
}
.twopart {
    /* width: 100%; */
    height: 75px;
    background-color: #252b3a;
    border-top: 1px solid #3b414e;
}
.twopart-box {
    margin-top: 28px;
    margin-left: 40px;
}
.twopart-box li {
    float: left;
    color: #ffffff;
    font-size: 13px;
    font-weight: 650;
    background-repeat: no-repeat;
    width: 128px;
    margin-right: -30px;
}
.twopart-box img {
    margin-left: 5px;
    margin-bottom: -4px;
}
.twopart-box span {
    margin-left: 15px;
}
.chinese:hover {
    height: 45px;
}
.chinese a {
    background-color: #252b3a;
    display: inline-block;
    padding: 15px;
    width: 154px;
    /* fifthpart-list-style-type: none; */
}
.English {
    /* fifthpart-list-style: none; */
    width: 250ox;
    height: 250px;
}
.threepart img{
    width: 100%;
    margin-top: 125px;
}
.fourpart {
    background-color: #ffffff;
    height: 60px;
}
.fourpart-box {
    float: right;
    background-color: #ffffff;
    width: 100%;
    /* height: 61px; */
    /* background-image: url(../font/spriteicons.svg) ; */
    /* background-position:0px 97px; */
    /* background: url(../font/spriteicons.svg) no-repeat 0 -155px; */
    /* background: url(../font/spriteicons.svg) no-repeat 126px 15px #ffffff; */
}
.fourpart-box li {
    margin-left: 163px;
    float: left;
    font-size: 17px;
}
.new li {
    line-height: 65px;
    background-image: url();

}
.new li:hover {
    color: #f66f6a;
}
.promotion:hover{
    color: #ffffff;
}
.fifthpart {
    background-color: #f3f8ff;
}
.fifthpart-top p {
    float: left;
    height: 25px;
    font-size: 20px;
    font-weight: 600;
    border-left: 5px solid #f66f6a;
    padding-left: 9px;
    margin-left: -584px;
    margin-top: 115px;
}
.fifthpart-list {
    float: left;
    height: 25px;

}
.fifthpart-list-box li {
    float: left;
    width: 238px;
    margin-top: 45px;
    border: 1px solid #dddddd;
    width: 115px;
    height: 20px;
    padding: 6px 0;
    font-size: 14px;
    color: #252b3a;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    float: left;
}
.safety {
    margin-left: -30px;
}

.safety h5:hover {
    color: #f66f6a;
}
.bd{
    background: rgba(246, 111, 106, 0.1);
    
}
.ad {
    color: #f66f6a;
}
.sixthpart {
    height: 100%;
    background-color: #f3f8ff;
}


.sixthpart-box {
    width: 60px;
    border: 1px solid #dddddd;
    margin-top: 20px;
    margin-left: 50px;
    /* font-weight: 600; */
    color: #666a75;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
}
.sixthpart-box:hover {
    color: #f66f6a;
}
.one-box {
    float: left;
    color: #ffffff;
    margin: 28px 67px;
}
.one-box h2 {
    font-size: 20px;
}
.one-box p {
    font-size: 14px;
    font-weight: normal;
    color: #a3a5ac;
    margin-top: 10px;

}
.sevenpart {
    background-color: #212634;
    height: 90px;
}
.sevenpart-top {
    height: 260px;
    position: relative;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
.eightpart {
    width: 100%;
    height: 310px;
    background: #252b3a;
}
.eightpart-left {
    float: left;
    width: 290px;
    margin-top: 25px;
    color: #ffffff;
    margin-bottom: 15px;
}
.eightpart-left-top {
    width: 110px;
    height: 60px;
    float: left;
}
.eightpart-left-top h2 {
    font-size: 20px;
}
.eightpart-left-top span {
    /* margin-top: 20px; */
    font-size: 20px;
    color: #fff;
}
.eightpart-left-top li {
    font-size: 14px;
    color: #ffffff;
    /* margin-top: 15px; */
}
.eightpart-left-bottom {
    width: 100%;
    height: 145px;
}
.eightpart-left-bottom li {
    font-size: 15px;
    margin-top: 15px;
}
.eightpart-left-bottom a {
    font-size: 14px;
    color: #bec0c4;
}
.zixun {
    margin-top: 15px;
}
.eightpart-right {
    float: right;
    margin-top: 25px;
    border-left:1px solid #454850;
}
.eightpart-right dl {
    float: left;
    padding-left: 83px;
    font-size: 14px;
    color: #bec0c4;
}
.eightpart-right dt {
    color: #fff;
    margin-bottom: 15px;
}
.eightpart-right dd {
    margin-top: 7px;
}
.ninepart {
    /* float: right; */
    width: 100%;
    height: 135px;
    border-top: 1px solid #454850;
    border-bottom: 1px solid #454850;
    background-color: #252b3a;
}
.ninepart-box {
    width: 1336px;
    /* height: 135px; */
}
.ninepart-box dl {
    float: left;
    margin-right: 45px;
    color: #ffffff;
}
.ninepart-box dt {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    margin-top: 25px;
}
.ninepart-box dd {
    font-size: 12px;
    color: #bec0c4;
    margin-top: 25px;
}
.tenpart {
    height: 65px;
    background-color: #252b3a;
}
.tenpart-box {
    margin-top: 15px;
    
}
.tenpart-box span {
    margin-right: 15px;
    color: #ffffff;
}
.tenpart-box a {
    margin-right: 5px;
    color: #ffffff;
}