.container {
    position: relative;
    margin: 0 auto;
    width: 926px;
}
.clearfix::before,
.clearfix::after {
    display: block;
}

.clearfix::before {
    clear: both;
}
.clearfix {
    *zoom: 1;
}