.topnav {
    height: 35px;
    background-color: #fefefe;
}
.topnav-left {
    float: left;
    line-height: 35px;
} 
.topnav-left h2 {
    float: left;
    line-height: 35px;
    margin-right: 12px;
    color: #717171;
    font-weight: normal;
}
.topnav-left a {
    margin-right: 10px;
    margin: 0 auto;
    color: #717171;
}
.topnav-left i{
    line-height: 35px;
    margin: 0 5px;
}
.topnav-right {
    display: block;
    line-height: 35px;
    margin-right: 12px;
}
.topnav-right a {
    margin-left: 12px;
    margin:auto;
}
.topnav-right i {
    line-height: 35px;
    margin: 0 5px;
}