@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1575341718671'); /* IE9 */
  src: url('iconfont.eot?t=1575341718671#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABoQAAAJ/AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBCIEcATYCJAMICwYABCAFhG0HNhvIBREVjHeyHwVu7AZ29ZMq8Qi8laf1lHMQPJ/7vZ2b5LcpMCiQxLAELFeoHY/CELB+W9Mxl0JHIbtkLctP35Fvd/7yeYYwAiERkgQImFs4pj6BGnNAd8lIjgQ82PVA3Xhq4Z/k5B/GLnAJ5yGAJ7GySfmpvh2LwZomgMwXUyPYnBeDYQmL4Faz1iBHcWHVPnUNOBJ+X76SkwWFS2OVNE9WjFP8wdtO0VudrfT7CHwgoM0uQAPZwIC010Yb0QjDaTyjhkTsq1Dgw8JxfD2yVw3C/jor3xuAaMi9J57Lv9V8BYCJu9NA0ag3ggrzXzf58Enng4Ptt+5tvd9y/3XXxKkDYUVntq2/8mDbw6KHBzou3996L//e/qKtmcmp3esCEueWbFhV7JD35h87n7p3yVxiwPru2v6rgycvTgbn/m44lzW7BpLP9XZ8U+3LTllQvA/+DsUAOFsNeisCCDzRv8Ihv/z/dm4AeDL/eTrk97ODPYNN4E/xejYZXWDplFF5tXZF2qipCvDEE3DAzkAvxipDbsss2ByPgcKdGNBYkpEGmw0uvMgDNyxF4EmWqs1eBFmORowHkGkXAMHfBVD4chUkfRtf5AD7g6GtP4xs6sPMo6A953YVszLGSDCF+ANFQq1yDDKLCi+Y2TrirCCkPJBNEQDf8YqJM7bIcywwzywQUaCYGjiBy7CuCTRTiYk4uYgOXVfV3chJqOnM7DEUESgFYh+gkCAt5XcWs9LnL1DGqkW4pazG/ICYUfQOfA6vB/IsbXuV3cs1xlMmIIQCFEYa4ARGoVqNAF0/qoQSwpGPCGsh126n+kqd9eXNB+SwKiyVyl6uWUzWWBIbFxF1OgA=') format('woff2'),
  url('iconfont.woff?t=1575341718671') format('woff'),
  url('iconfont.ttf?t=1575341718671') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1575341718671#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f66f6a;
}

.icon-sousuotubiao:before {
  content: "\e60c";
}

