/* body {
  height: 10000px;
} */
.big-box {
  width: 100%;
  position: fixed;
  z-index: 1;
}
.firstpart {
  height: 41px;
  background-color: #252b3a;
}
.firstpart-one {
  float: left;
}
.firstpart-one img {
  margin-left: 40px;
}
.firstpart-two-left {
  float: right;

}
.firstpart-two button {
  float: left;
  width: 50px;
  height: 41px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  margin-right: 45px;
  background-color: #191d28;
}
.firstpart-two-left input {
  float: left;
  width: 250px;
  border: none;
  height: 41px;
  background-color: #191d28;
  color: #ffffff;
  padding-left: 19px;
  font-size: 15px;
  font-weight: 600;
}
.firstpart-two-left input:hover {
  transform: top 0.3s;
}
.firstpart-two-left li {
  float: left;
  font-size: 15px;
  font-weight: 650;
  height: 41px;
  margin-right: -40px;
  line-height: 50px;
}
.firstpart-two-left a {
  float: right;
  width: 96px;
  color: #ffffff;
  /* margin: 0px 15px; */
  /* line-height: 50px; */
}
.firstpart-two-left a:hover {
  color: #f66f6a;
}
.firstpart-two-left p {
  color: #ffffff;
  margin-left: 23px;
}

.firstpart-two-left span {
  margin-left: 40px;
  background-color: #f66f6a;
  width: 115px;
  color: #ffffff;
}
.first span {
  color: #f66f6a;
}
.first:hover {
  box-shadow: 10px 10px 3px #e0e5eb;
  transition: all 1s;
  color: #f66f6a;
}
.name {
  background-color: #f66f6a;
  /* width: 115px; */
}
.firstpart-two-left h2 {
  color: #ffffff;
  line-height: 41px;
}
.firstpart-two-left img {
  margin-bottom: -4px;
  margin-left: 5px;
}
.first {
  float: left;
  width: 350px;
  height: 192px;
  margin-right: 40px;
  margin-top: 40px;
  /* border: 1px solid #191d28; */
  background-color: #ffffff;
  margin-bottom: 20px;
}
.first h5 {
  margin-top: 57px;
  margin-left: 50px;
  font-weight: 600;
  font-size: 24px;
  color: #252b3a;
  line-height: 1;
  margin-left: 46px;
  border-bottom: none;
  position: relative;
  display: inline-block;
  width: auto;
}
.first p {
  margin-top: 16px;
  margin-left: 50px;
  background-repeat: no-repeat;
  font-size: 15px;
}
.first img {
  float: right;
  width: 107px;
  margin-top: -24px;
  height: 95px;
}
.stand{
  width: 73px;
  height: 41px;
  margin-left: -24px;
  text-align: center;

}
.ch-z {
  position: absolute;
  width: 13px;
  height: 12px;
  background-image: url(../img/jiantou.png);
  background-position: -21px -19px;
  background-size: 11px;
  margin-left: 40px;
  margin-top: -29px;
}
.twopart {
  width: 100%; 
  height: 60px;
  background-color: #252b3a; 
  border-top: 1px solid #3b414e;
}
.twopart img {
  margin-top: 20px;
  width: 100%;
}
.twopart-box  {
  width: 100%;
  height: 100%;

}
.twopart-box ul {
  width: 100%;
  height: 60px;
  margin-left: 15px;
  line-height: 60px;
}
.twopart-box li {
  float: left;
  /* margin-left: -81px; */
}
.twopart-box span {
  font-size: 14px;
  color: #fff;

}
.twopart-box li{
  display: block;
  padding: 15px 15px;
  font-size: 14px;
  line-height: 30px;
  color: white;
  cursor: default;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin-left: -59px;
}
.twopart-box i {
  display: inline-block;
  width: 12px;
  height: 7px;
  background-image: url(../img/jiantou.png);
  background-position: -9px -3px;
  background-size: 10px;
  margin-left: 5px;
}
.threepart {
  background-color: #f0f0f0;
}

.threepart-top {
  margin-bottom: 30px;
}
.threepart-top a>p {
  margin-top: 50px;
  font-size: 36px;
  color: #fff;
}
.threepart-bottom  {
  margin-bottom: 15px;
}
.threepart-bottom span{
    color: #fff;
}

.threepart-box {
  width: 1181px;
  height: 243px;
  background-color: #fff;
  margin-top: -6px;
  border: 3px solid #f0f0f0;
}
.threepart-box p {
  font-size: 22px;
  font-weight: 500;
  margin: 25px 25px;
}
.threepart-top-left {
 display:inline-block ;
}
.threepart-top-left p {
  color: #666a75;
  font-size: 14px;
  padding-right: 25px;
}
.threepart-top-right{
  float: right;
  border-left: 1px solid #f0f0f0;
  display: inline-block;
  margin-top: -120px;
}
/* .threepart-top-right li {
  float: right;
} */