body {
  /* height: 10000px; */
  background-color: #f0f0f0;
}
.big-box {
  width: 100%;
  position: fixed;
  z-index: 1;
}
.firstpart {
  height: 41px;
  background-color: #252b3a;
}
.firstpart-one {
  float: left;
}
.firstpart-one img {
  margin-left: 40px;
}
.firstpart-two-left {
  float: right;

}
.firstpart-two button {
  float: left;
  width: 50px;
  height: 41px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  margin-right: 45px;
  background-color: #191d28;
}
.firstpart-two-left input {
  float: left;
  width: 250px;
  border: none;
  height: 41px;
  background-color: #191d28;
  color: #ffffff;
  padding-left: 19px;
  font-size: 15px;
  font-weight: 600;
}
.firstpart-two-left input:hover {
  transform: top 0.3s;
}
.firstpart-two-left li {
  float: left;
  font-size: 15px;
  font-weight: 650;
  height: 41px;
  margin-right: -40px;
  line-height: 50px;
}
.firstpart-two-left a {
  float: right;
  width: 96px;
  color: #ffffff;
  /* margin: 0px 15px; */
  /* line-height: 50px; */
}
.firstpart-two-left a:hover {
  color: #f66f6a;
}
.firstpart-two-left p {
  color: #ffffff;
  margin-left: 23px;
}

.firstpart-two-left span {
  margin-left: 40px;
  background-color: #f66f6a;
  width: 115px;
  color: #ffffff;
}
.first span {
  color: #f66f6a;
}
.first:hover {
  box-shadow: 10px 10px 3px #e0e5eb;
  transition: all 1s;
  color: #f66f6a;
}
.name {
  background-color: #f66f6a;
  /* width: 115px; */
}
.firstpart-two-left h2 {
  color: #ffffff;
  line-height: 41px;
}
.firstpart-two-left img {
  margin-bottom: -4px;
  margin-left: 5px;
}
.first {
  float: left;
  width: 350px;
  height: 192px;
  margin-right: 40px;
  margin-top: 40px;
  /* border: 1px solid #191d28; */
  background-color: #ffffff;
  margin-bottom: 20px;
}
.first h5 {
  margin-top: 57px;
  margin-left: 50px;
  font-weight: 600;
  font-size: 24px;
  color: #252b3a;
  line-height: 1;
  margin-left: 46px;
  border-bottom: none;
  position: relative;
  display: inline-block;
  width: auto;
}
.first p {
  margin-top: 16px;
  margin-left: 50px;
  background-repeat: no-repeat;
  font-size: 15px;
}
.first img {
  float: right;
  width: 107px;
  margin-top: -24px;
  height: 95px;
}
.stand{
  width: 73px;
  height: 41px;
  margin-left: -24px;
  text-align: center;

}
.ch-z {
  position: absolute;
  width: 13px;
  height: 12px;
  background-image: url(../img/jiantou.png);
  background-position: -21px -19px;
  background-size: 11px;
  margin-left: 40px;
  margin-top: -29px;
}
.twopart {
  width: 100%; 
  height: 60px;
  background-color: #252b3a; 
  border-top: 1px solid #3b414e;
}
.twopart img {
  margin-top: 101px;
  width: 100%;
}
.twopart-box  {
  width: 100%;
  height: 100%;

}
.twopart-box ul {
  width: 100%;
  height: 60px;
  margin-left: 15px;
  line-height: 60px;
}
.twopart-box li {
  float: left;
  /* margin-left: -81px; */
}
.twopart-box span {
  font-size: 14px;
  color: #fff;

}
.twopart-box li{
  display: block;
  padding: 15px 15px;
  font-size: 14px;
  line-height: 30px;
  color: white;
  cursor: default;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin-left: -59px;
}
.twopart-box i {
  display: inline-block;
  width: 12px;
  height: 7px;
  background-image: url(../img/jiantou.png) no-repeat center center / cover;
  background-position: -9px -3px;
  background-size: 10px;
  margin-left: 5px;
}
.threepart-box-top h1 {
  font-size: 30px;
  color: #fff;
  margin-top: 115px;
}
.threepart-box-bottom p {
  margin-top: 30px;
  color: #fff;
}

.fourpart-box {
  width: 1180px;
  height: 213px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: 15px;
}
.fourpart-box-left {
  margin-left: 0;
  border-right: none;
  width: calc(66.66667% - 0.5rem);
  display: inline-block;
}
.fourpart-box-left h3 {
  font-size: 22px;
  font-weight: normal;
  color: black;
  margin: 7px 35px;
}
.fourpart-box-left p {
  font-size: 14px;
  margin: 14px 35px;
  margin-top: 23px;
  font-size: 14px;
  color: #78777d;
}
.fourpart-box-right {
  margin-right: 0;
  float: right;
  margin-left: 0;
  width: 33.3333%;
  background-color: red;
}
.fourpart-box-right .zhou {
  width: 50%;
  color: #252b3a!important;
  margin-bottom: 0;
  font-size: 14px;
 
}
.fifthpart:first-child{
  margin-top: 30px;
}
.fifthpart-box {
  width: 1141px;
  clear: both;
  height: 160px;
  padding: 20px;
  margin-bottom: 0px;
  border-bottom: #ddd 1px solid;
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  /* margin-top: 30px; */
}
.fifthpart-box-left {
  /* display: inline-block; */
  float: left;
}
.fifthpart-box-left img {
  width: 283px;
  height: 157px;

}
.fifthpart-box-left a {
  /* float: right; */
  margin:  auto;
}
.fifthpart-box-center {
  display: inline-block;
  width: 656px;
  height: 157px;
  /* background-color: saddlebrown; */
  margin-left: 30px;
}
.fifthpart-box-center h3 {
  /* margin-top: 20px; */
  font-size: 20px;
}
.fifthpart-box-phase {
  width: 654px;
  height: 142px;
}
.fifthpart-box-phase p {
  font-size: 14px;
  margin-top: 25px;
  line-height: 20px;
  overflow: hidden;
  /* text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; */
}
.fifthpart-box-see {
  display: inline-block;
  position: absolute;
  width: 36px;
  height: 20px;
  margin-top: 20px;
}
.fifthpart-box-see a>i {
  position: absolute;
  content: ""!important;
  width: 14px;
  height: 7px;
  left: 43px;
  top: 7px;
  background: url(../svg/training-path-arrow.svg) no-repeat;
  
}
.fifthpart-box-right {
  display: inline-block;
  background-color: silver;
}
.fifthpart-box-right {
  width: 113px;
  height: 37px;
  float: right;
  margin-right: 30px;
  margin-top: 56px;
  text-align: center;
  line-height: 37px;
  background-color: #f66f6a;
}
.fifthpart-box-right p {
  color: #fff;
}






.sevenpart {
  background-color: #212634;
  height: 90px;
  margin-top: 50px;
}
.sevenpart-top {
  height: 260px;
  position: relative;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.one-box {
position: relative;
width: 100%;
height: 90px;
}
.one-box  li i {
position: absolute;
/* left: 67px; */
top: 50%;
width: 40px;
height: 40px;
margin-top: -20px;
background-size: 100% 100%;
}
.one-box .zhong{
background-image: url(../svg/footer-support.svg);
}
.one-box .zhong-a {
background-image: url(../svg/footer-unsub.svg);
}
.one-box .zhong-b {
background-image: url(../svg/footer-record.svg);
}
.one-box .zhong-c {
background-image: url(../svg/footer-feedback.svg);
}
.one-box .zhong-d {
background-image: url(../svg/footer-vip.svg);
}
.one-box ul {
float: left;
color: #ffffff;
margin: 28px 67px;
}
.one-box li {
float: left;
width: 209px;
}
.one-box li h2 {
font-size: 20px;
color: #fff;
margin-left: 50px;
}
.one-box li p {
font-size: 14px;
font-weight: normal;
color: #a3a5ac;
margin-top: 10px;
margin-left: 50px;

}
.eightpart {
  width: 100%;
  height: 324px;
  background: #252b3a;
}
.eightpart-left {
  float: left;
  width: 290px;
  margin-top: 25px;
  color: #ffffff;
  margin-bottom: 15px;
}
.eightpart-left-top {
  width: 110px;
  height: 60px;
  float: left;
}
.eightpart-left-top h2 {
  font-size: 20px;
}
.eightpart-left-top p {
  /* margin-top: 20px; */
  font-size: 20px;
  color: #fff;
}
.eightpart-left-top li {
  font-size: 14px;
  color: #ffffff;
  /* margin-top: 15px; */
}
.eightpart-left-bottom {
  width: 100%;
  height: 145px;
}
.eightpart-left-bottom li {
  font-size: 15px;
  margin-top: 15px;
}
.eightpart-left-bottom a {
  font-size: 14px;
  color: #bec0c4;
}
.zixun {
  margin-top: 15px;
}
.eightpart-right {
  float: right;
  margin-top: 25px;
  border-left:1px solid #454850;
}
.eightpart-right dl {
  float: left;
  padding-left: 83px;
  font-size: 14px;
  color: #bec0c4;
}
.eightpart-right dt {
  color: #fff;
  margin-bottom: 15px;
}
.eightpart-right dd {
  margin-top: 7px;
}
.ninepart {
  /* float: right; */
  width: 100%;
  height: 135px;
  border-top: 1px solid #454850;
  border-bottom: 1px solid #454850;
  background-color: #252b3a;
}
.ninepart-box {
  width: 1336px;
  /* height: 135px; */
}
.ninepart-box dl {
  float: left;
  margin-right: 45px;
  color: #ffffff;
}
.ninepart-box dt {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  margin-top: 25px;
}
.ninepart-box dd {
  font-size: 12px;
  color: #bec0c4;
  margin-top: 25px;
}
.tenpart {
  height: 65px;
  background-color: #252b3a;
}
.tenpart-box {
  margin-top: 15px;
  
}
.tenpart-box span {
  margin-right: 15px;
  color: #ffffff;
}
.tenpart-box a {
  margin-right: 5px;
  color: #ffffff;
}


