* {
  box-sizing: border-box;
}
.topnav {
  
  width: 100%;
  height: 1000px;
  background-color: #c91536;

}
.topnav-top {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #c91536;
}
.topnav-top a {
  width: 70px;
  height: 40px;
}
.jd-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: #c91536;
  background-image: url(../imges/jd-sprites.png);
  background-position: 8px -103px;
  background-size: 200px 200px;
}
.sou-icon {
  
  background-image: url(../imges/jd-sprites.png);
  background-position: 0px -102px;
  /* 背景尺寸 */
  background-size: 200px 200px;
}
.cen {
  /* position: relative; */
  padding-left: 70px;
  padding-right: 50px;
  width: 100%;
  height: 100%;
  background-color: #c91536;
}

.cen input {
  padding-top: 15px;
  width: 100%;
  margin-top: 5px;
  height: 35px;
  border-radius: 50px 50px;
}
.topnav-top-left input{
  display: block;
  border-radius: 50px 50px;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 7px;
  height: 26px;
  width: 260px;
}
.button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  color: #fff;
  background-color: #fa0431;
  line-height: 40px;
  text-align: center;
}

.footnav {
  /* position: fixed; */
  width: 100%;
  float: right;
}
.footnav ul {

  width: 100%;
  /* float: right; */
  overflow: hidden;
}
.footnav li {
  width: 20%;
  float: left;
}
.footnav a {
  /* overflow: hidden; */
  float: left;
  width: 100%;
}
.footnav img {
  float: left;
  width: 100%;
}