body {
  background-color: #2b2b2b;
}
/* 1.顶部导航 */
.topnav {
  width: 100%;
  height: 28px;
  background-color: #2b2b2b;
  border-bottom: 1px solid #222222;
  overflow: hidden;
}
/* 辅助 */
/* .topnav .container {
  background-color: rgba(255,255,255,0.5);
} */

.topnav-left {
  float: left;
}

.topnav-left a {
  float: left;
  color: #ccc;
  line-height: 28px;
  margin: 0 10px;
}

.topnav-left a:hover {
  color: #ff9d00;
}

.topnav-right {
  float: right;
}

.topnav-right > li {
  float: left;
}

.topnav-right .myyxk {
  position: relative;
  width: 85px;

}

.topnav-right .myyxk:after {
    content: '';
    position: absolute;
    top: 11px;
    right: 4px;
    width: 8px;
    height: 4px;
    background-image: url(../img/xiasanjiao.png);
}

.topnav-right .myyxk span {
  color: #ccc;
}

.topnav-right .myyxk:hover {
  background-color: #fff;
}

.topnav-right .myyxk:hover span {
  color: #555;
}

.topnav-right .myyxk:hover ul {
  display: block;
}

.topnav-right .myyxk ul a:hover {
  background-color: #fdd000;
  color: #fff;
}

.topnav-right > li > ul {
  position: absolute;
  display: none;
  top: 28px;
  left: 0;

  width: 85px;
  background-color: #fff;
}

.topnav-right > li  li {
  width: 100%;
  height: 28px;
}

.topnav-right > li li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #555;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
  margin: 0;
  
}

.topnav-right a,
.topnav-right span {
  position: relative;
  line-height: 28px;
  color: #ccc;
  margin: 0 10px;

}

.topnav-right a:hover {
  color: #ff9d00;
}

.topnav-right i {
  font-size: 22px;
}

.topnav-right .app {
  display: block;
}

.topnav-right .app span {
  float: right;
  margin: 0;
  line-height: 28px;
}

.topnav-right .app:hover span {
  color: #ff9d00;
}

.topnav-right .app i {
  color: #fdd000;
}

.topnav-right a > img {
  display: none;
  position: absolute;
  top: 12px;
  left: -64px;
}

.topnav-right a:hover  img {
  display: block;
}

.topnav-right li:last-child  .app i {
  color: #ccc;
}

.topnav-right li:nth-last-child(-n+3) a:hover i {
  color: #fdd000;
}

.topnav-right .app .wechat img {
  width: 130px;
  height: 130px;
}

/* input img 不能添加before和after */
.topnav-right .app .wechat {
  position: absolute;
  display: none;
  top: 36px;
  left: -63px;
  height: 130px;
  padding: 10px;
  background-color: #ffffff;
}

.topnav-right  .app:hover .wechat {
  display: block;
}

.topnav-right .app  .wechat:after {
  content: '';
  position: absolute;
  top: -18px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 8px solid transparent;
}

/* 第二部分: 搜索 */
.search {
  height: 120px;
  background-color:#333;
}


.search-logo {
  float: left;
  margin-left: 15px;
  margin-top: 35px;
}

.search-area {
  float: left;
  width: 648px;
  height: 40px;
  margin-left: 125px;
  margin-top: 40px;
}

.searc-area-city {
  float: left;
}

.searc-area-city span {
  font-size: 16px;
  color: #fdd000;
  line-height: 40px;
  background-image: url(../img/search-area-xsj.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 14px;
}

.search-area-box {
  float: left;
  width: 564px;
  height: 40px;
  /* border-box包括边框包括padding的盒子大小 */
  /* 总的大小就是564 你加上之后 盒子会自动缩小 */
  box-sizing: border-box;
  border: 2px solid #fdd000;
  margin-left: 18px;
}

.search-area-box-input {
  float: left;
  width: 430px;
  height: 36px;
}

.search-area-box-input span {
  float: left;
  color: #afaaaa;
  width: 52px;
  height: 100%;
  line-height: 36px;
  text-align: center;

  background-image: url(../img/xiasanjiao.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.search-area-box-input  input {
  float: right;
  width: calc(430px - 52px);
  height: 36px;
  border: none;
  background-color: transparent;
  color: #deffff;
  line-height: 36px;
}

.search-area-box button {
  float: right;
  width: 130px;
  height: 36px;
  background-color: #fdd000;
  border:none;
  font-size: 18px;
  font-weight: 700;
}

.search-hotline {
  float: left;
  margin-top: 40px;
  margin-left: 20px;
}

.search-service {
  position: absolute;
  bottom: -42px;
  right: -102px;
}