.container{
    position: relative;
    margin: 0 auto;
    width: 1226px;
}
.clearfix:before,
.clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom:1;
}