.topnav{
    height: 40px;
    background-color: #333333;
}
.topnav-left{
    float: left;
}
.topnav-left a{
    float: left;
    color: #b0b0b0;
    line-height: 40px;
}
.topnav-left a:hover{
    color: #fff;
}
.topnav-left i{
    float: left;
    color: #423c37;
    margin: 0 8px;
    line-height: 40px;
}
.topnav-right{
    float: right;
}
.topnav-right a{
    float: left;
    color: #b0b0b0;
    line-height: 40px;
}
.topnav-right a:hover{
    color: #fff;
}
.topnav-right i{
    float: left;
    color: #423c37;
    line-height: 40px;
    margin: 0 8px;
}
.topnav-right .cart{
    margin-left: 24px;
    width: 120px;
    height: 40px;
    background-color: #424242;
    text-align: center;
}
.topnav-right .cart:hover{
    color: #ff6700;
    background-color: #fff;
}

.searchnav{
    height: 100px;
    /* background-color: pink; */
}
.container{
    width: 1226px;
    margin: 0 auto;
}
.searchnav-logo{
    float: left;
    widows: 49px;
    height: 49px;
    background-color: #ff6700;
    padding: 3px;
    box-sizing: border-box;
    margin-top: 22.5px;
}
.searchnav-tab{
    float: left;
    height: 100px;
    margin-left: 180px;
}
.searchnav-tab a{
    float: left;
    font-size: 16px;
    color:#333333;
    line-height: 100px;
    margin: 0 10px ;
}
.searchnav-search{
    position: relative;
    float: right;
    margin-top: 25px;
    width: 296px;
    height: 50px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
}
.searchnav-search input{
    float: left;
    width: calc(296px - 52px);
    box-sizing: border-box;
    height: 100%;
    padding: 8px;
    border: none;
    border-right: 1px solid #e0e0e0;
}
.searchnav-search button{
    float: right;
    width: 50px;
    height: 48px;
    background-color: #ffffff;
    background-image: url(../img/search_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
.searchnav-search button:hover{
    background-color: #ff6700;
}
.searchnav-search-hotkeys{
    position: absolute;
    float: left;
    /* background-color: #b0b0b0; */
    left: 145px ;
    top: 16px;
    font-size: 12px;
     margin: auto
}
.searchnav-search-hotkeys span{
    background-color: #b0b0b0;
    display: inline-block;
    margin-top: 8px;
    margin-left: 5px;
    margin:  0 auto;
    padding: 2px 5px;
}
.carousel {
    height: 460px;
}
.carousel-list a {
    display: block;
}
.carousel-aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    height: 460px;
    background-color: rgba(154,153,153,0.76);
    padding: 20px 0;
    box-sizing: border-box;
}
.carousel-aside a {
    display: block;
    padding-left: 28px;
    padding-right: 24px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}
.carousel-aside a:hover {
    background-color: #ff6700;
}
.carousel-aside i {
    float: right;
    font-size: 18px;
    font-weight: 400;
}
.carousel-left {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 234px;
    width: 40px;
    height: 70px;
    color: #ccc;
    font-size: 40px;
    line-height: 70px;
}
.carousel-right {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    right: 0px;
    width: 40px;
    height: 70px;
    color: #ccc;
    font-size: 40px;
    line-height: 70px;
}

.carousel-left:hover,
.carousel-right:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.75);
}