.topnav {
    width: 100%;
    height: 40px;
    background-color: #333333;
}
.topnav-left {
    float: left;
}
.topnav-left li {
    list-style-type: none;
    float: left;
    color: #b0b0b0;
    margin: auto;
    margin-top: 15px;
}
.topnav-left i {
    color: #40403b;
    margin: 0 7px;
}
.font img { 
    margin-top: 10px;
}
.font-right {
    float: right;
    margin-top: 25px;
    margin-right: 460px;
}
.font-right li {
    list-style-type: none;
    float: left;
    margin: 11px;
    color: #333333;
    font-weight: 500;
    font-size: 12px;
}
.search-left {
    width: 235px;
    height: 460px;
    float: left;
    margin-top: 23px;
}
.search-left li {
    list-style-type: none;
    line-height: 40px;
    background-color: #2c505f;

}
.search-left li a {
    text-decoration: none;
    margin-left: 30px;
    color: #ffffff;
}
.search-left li span {
    float: right;
    color: #92a4ac;
    margin-right: 20px;
}
.search-right {
    width: 235px;
    height: 460px;
    float: left;
    margin-top: 23px;

}
.search-right img {
    float: left;
    height: 400px;
    box-sizing: border-box;
}
.thirth {
    float: left;
    width: 100%;
}
/* .thirth-top {
    background-color: pink;
} */
.thirth-right {
    float: right;
    width: 250px;
}
.thirth-right img {
    float: right;
}
.thirth-top h2 {
    font-size: 15px;
}
.thirth-left {
    width: 300px;
}
.two {
    background-color: #f5f5f5;
}
.two-top {
    font-size: 15px;
}
.two-top h2 {
    width: 500px;
}
.first img {
    float: left;
    width: 25px;
}